.serverLogHeader {
    background-color: white;
    padding: 2px;
    border-radius: 8px;
}

.innerWrapper {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.checkedboxed {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.checkedboxed-inner {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
  }
/* 
.checkedItem {
    flex: 0 1 calc(20% - 8px); 
} */